{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "max-len": ["error", {
      "code": 100,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true
    }],
    "no-param-reassign": ["error", { "props": false }],
    "object-curly-newline": ["error", { "multiline": true }],
    "arrow-parens": ["error", "as-needed"],
    "object-shorthand": ["error", "always", { "avoidQuotes": false }],
    "no-promise-executor-return": "off",
    "no-nested-ternary": "off",
    "no-sparse-arrays": "off",
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true,
      "allow": ["_popup", "_marker"]
    }],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "ts": "never"
    }]
  }
}
