/* Terrain control styling */
.mapboxgl-ctrl-terrain::before {
  content: '3D';
  color: inherit;
  font-size: 0.85rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.mapboxgl-ctrl-terrain-3d::before {
  content: '2D';
  color: inherit;
  font-size: 0.85rem;
  font-weight: bold;
  display: block;
}

/* Styles control styling */
.mapboxgl-ctrl-styles {
  display: flex;
  gap: 1px;
  overflow: hidden;
  background: var(--map-ctrl-styles-border, #ddd);
}

.mapboxgl-ctrl-styles button,
.mapboxgl-ctrl-styles button + button {
  all: unset;
  display: none;
  background: var(--map-ctrl-styles-background, #fff);
}

.mapboxgl-ctrl-styles:hover button,
.mapboxgl-ctrl-styles button.is-active {
  display: flex;
  cursor: pointer;
}

.mapboxgl-ctrl-styles button em {
  display: block;
  margin: var(--map-ctrl-styles-label-margin, 0.5em 0.8rem);
}

.mapboxgl-ctrl-styles button img {
  display: block;
  height: var(--map-ctrl-styles-thumb-size, 29px);
  width: var(--map-ctrl-styles-thumb-size, 29px);
  margin: var(--map-ctrl-styles-thumb-margin, 0);
}
